//Variaveis usadas no Sass

$cor-padrao: darken(#c24e4b, 0);
$cor-auxiliar: lighten(#1e2c35, 50);
$cor-branca: #fff;
$raio-grande: 50px;

$tamanho-da-fonte-padrao: 16px;

$ponto-de-quebra: 980px;

$mq-mobile: "(max-width: 980px)";